<!DOCTYPE html>
<html>
<head>
    <title>Cloud SQL Backup</title>
    <style>
        body { background: white; font-family: Helvetica, Arial, sans-serif }
        .main { margin-left: auto; margin-right: auto; padding: 30px; max-width: 560px; }
        .btn { display: inline-block; padding: 15px 30px; color: white; background-color: #1a73e8; text-decoration: none; border-width: 0; border-radius: 6px; cursor: pointer; }
        .btn.success { background-color: #09af00; }
    </style>
</head>
<body>
    <div class="main">
        <h1>Cloud SQL Backup</h1>
        <p><button class="btn">Perform Backup</button></p>
    </div>
    <script>
        document.querySelector('.btn').addEventListener('click', () => {
            var btn = document.querySelector('.btn');

            btn.classList.remove('success');
            btn.classList.remove('error');

            fetch('/backup')
                .then(response => response.json())
                .then(data => {
                    if(data && data.status == 'ok') {
                        btn.classList.add('success');
                    } else {
                        btn.classList.remove('success');
                    }
                })
                .catch(e => { btn.classList.add('error'); });
        }, true);
    </script>
</body>
</html>